<launch>
  <arg name="machine" />
  <arg name="param2" default="nothing" />
<!-- This will be called from another node and should have standardized inputs and outputs -->
  <node name="a_classifier2_$(arg machine)"
    pkg="ros_example_torch_classifier"
    machine="$(arg machine)"
    type="simple_classifier.py" output="screen">
    <!-- parameters to configure this classifier should be here, not on the code -->
    <!-- We will have a ton of classifiers and small variations should be here
    so we can even try some genetic algorithms of optimization techniques -->
    <param name="param1"         type="string"   value="a_value"/>
    <param name="param2"   type="String" value="a_value"/>
  </node>
</launch>
