<?xml version="1.0" ?>
<!DOCTYPE launch SYSTEM "https://gist.githubusercontent.com/nalt/dfa2abc9d2e3ae4feb82ca5608090387/raw/roslaunch.dtd">
<launch>
  <node name="state_machine" pkg="ros_example_torch_classifier" type="sm.py" output="screen">
    <!-- cv_type: RepeatedStratifiedKFold, kfolds, test_train_splits -->
    <param name="something" type="string" value="coco"/>
  </node>

</launch>
