<?xml version="1.0" ?>
<launch>
 <node name="traintext" pkg="ros_example_torch_classifier" type="mux.py" output="screen">
	<remap from="in1" 		to="/train/title"/>
	<remap from="in2"		to="/train/abstract"/>
	<remap from="output"		to="/train/text"/>
 </node>

 <node name="testtext" pkg="ros_example_torch_classifier" type="mux.py" output="screen">
	<remap from="in1" 		to="/test/title"/>
	<remap from="in2"		to="/test/abstract"/>
	<remap from="output"		to="/test/text"/>
 </node>

 <node name="trainlabeller" pkg="ros_example_torch_classifier" type="label_parser.py" output="screen">
	<remap from="in" 		to="/train/notes"/>
	<remap from="out"		to="/train/label"/>
 </node>

 <node name="testlabeller" pkg="ros_example_torch_classifier" type="label_parser.py" output="screen">
	<remap from="in" 		to="/test/notes"/>
	<remap from="out"		to="/test/label"/>
 </node>

</launch>
