<launch>
  <arg name="dataset_path"        default="$(find ros_example_torch_classifier)/articles.csv"/>
  <arg name="cv_type"             default="RepeatedStratifiedKFold"/>
  <arg name="n_splits"            default="5"/>
  <arg name="n_repeats"           default="2"/>
  <arg name="seed"                default="22"/>
  <arg name="use_random_splits"   default="True"/>
  <node name="the_splitter" pkg="ros_example_torch_classifier" type="splitter.py" output="screen">
    <!-- cv_type: RepeatedStratifiedKFold, kfolds, test_train_splits -->
    <param name="dataset_path"      type="string" value="$(arg dataset_path)"/>
    <param name="cv_type"           type="String" value="$(arg cv_type)"/>
    <param name="n_splits"          type="int"    value="$(arg n_splits)"/>
    <param name="n_repeats"         type="int"    value="$(arg n_repeats)"/>
    <param name="seed"              type="int"    value="$(arg seed)"/>
    <param name="use_random_splits" type="bool"   value="$(arg use_random_splits)"/>
  </node>
</launch>
