<launch>
  <node name="the_splitter" pkg="ros_example_torch_classifier" type="splitter.py" output="screen">
    <param name="dataset_path"         type="string"   value="a_value"/>
    <!-- cv_type: RepeatedStratifiedKFold, kfolds, test_train_splits -->
    <!-- TODO: not implemented: kfolds, test_train_splits -->
    <param name="cv_type"   type="String" value="RepeatedStratifiedKFold"/>

    <param name="n_splits"    type="int" value="5"/>
    <param name="n_repeats"   type="int" value="2"/>
  </node>
</launch>
